.navbar {
  background: none;
  border-radius: 0;
  border: 0;
  padding: 20px 50px;
  text-transform: uppercase;
  color: #FFF !important;
  transition:
    background-color 0.5s ease,
    padding 0.5s ease;

  &.solid-nav {
    background-color: #2B3436;
    color: black;
    border-bottom: 3px solid white;
    padding: 5px 50px;
    transition:
      background-color 0.5s ease,
      padding 0.5s ease;
  }
}

.link-scroll {
  &:hover {
    color: transparent;
  }
}

.scroll-up {
  position: fixed;
  z-index: 999;
  bottom: 1.8em;
  right: 1.8em;

  a {
    background-color: none;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    color: transparent;
    font-size: 14px;
    line-height: 28px;
    transition:
      background-color 0.5s ease,
      color 0.5s ease,
      padding 0.5s ease;
  }

  &.solid-scroll {
    position: fixed;
    z-index: 999;
    bottom: 1.8em;
    right: 1.8em;

    a {
      background-color: #ffc418;
      display: block;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-size: 14px;
      line-height: 28px;
      transition:
        background-color 0.5s ease,
        color 0.5s ease,
        padding 0.5s ease;

      &:hover {
        color: white;
      }
    }
  }

  // &.solid-scroll1 {
  //   position: fixed;
  //   z-index: 999;
  //   bottom: 1.8em;
  //   right: 1.8em;

  //   a {
  //     background-color: #2B3436;
  //     display: block;
  //     width: 28px;
  //     height: 28px;
  //     border-radius: 50%;
  //     text-align: center;
  //     color: white;
  //     font-size: 14px;
  //     line-height: 28px;
  //     transition:
  //       background-color 0.5s ease,
  //       color 0.5s ease,
  //       padding 0.5s ease;

  //     &:hover {
  //       color: white;
  //     }
  //   }
  // }

  // &.solid-scroll2 {
  //   position: fixed;
  //   z-index: 999;
  //   bottom: 1.8em;
  //   right: 1.8em;

  //   a {
  //     background-color: white;
  //     display: block;
  //     width: 28px;
  //     height: 28px;
  //     border-radius: 50%;
  //     text-align: center;
  //     color: #2B3436;
  //     font-size: 14px;
  //     line-height: 28px;
  //     transition:
  //       background-color 0.5s ease,
  //       color 0.5s ease,
  //       padding 0.5s ease;

  //     &:hover {
  //       color: white;
  //     }
  //   }
  // }
}

#skill {
  color: white;
  background-color: #2B3436;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#skills-bar {
  margin: 0 auto;
  width: 80%;
  max-width: 960px;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 100px;

  li {
    position: relative;
    margin-bottom: 32px;
    padding-left: 6px;

    .bar-container,
    .bar {
      position: absolute;
      left: 0;
      height: 10px;
      border-radius: 5px;
      content: "";
    }

    .bar-container {
      bottom: -8px;
      width: 100%;
      background-color: #5D636A;
      text-align: right;

      .bar {
        top: 0;
        color: #9FFCDF;
      }

      .pct {
        position: absolute;
        top: -19px;
        right: 0;
        opacity: 0;
        transition: opacity 0.3s linear;
      }
    }
  }
}

/* Circle Progress Bar styles */

.skills-circle {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 100px;
  // text-align: center;
}

.progress-circle {
  // width: 33%;
  justify-content: space-around ;
  // padding-bottom: 45px;
}

.progress-circle__svg {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 200px;
}

.progress-circle__bg {
  fill: none;
  stroke: #5D636A;
  stroke-width: 1.8;
}

.progress-circle__inner {
  fill: none;
  stroke: #F0F465;
  stroke-width: 1.8;
  stroke-linecap: round;
  animation: animate-round 1.5s ease-out forwards 1;
  animation-play-state: paused;
}
.progress-circle.animate .progress-circle__inner{
  animation-play-state: running;
}

.progress-circle__percentage {
  fill: white;
  font-family: 'Montserrat';
  font-size: 4px;
  text-anchor: middle;
}

.chart-text span {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    text-align: center;
}

@keyframes animate-round {
  0% {
    stroke-dasharray: 0 100;
  }
}


.software-container-1, .software-container-2 {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

.software-container-2 {
  max-width: 330px;
  margin: 0 auto;
  // text-align: center;
}

.img-software {
  height: 88px;
}

.software img {
  vertical-align: baseline;
}


html {
  scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

.fa-circle:before {
  color: #875C74;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #1ee2e7;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #1ee2e7;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #17d0d5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.img-responsive {
  width: 100%;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #1ee2e7;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #1ee2e7;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #17d0d5;
    color: #fff;
    background-color: #17d0d5;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.btn-primary .badge {
    color: #1ee2e7;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #215E87;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #215E87;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #FFC418;
    color: #fff;
    background-color: #FFC418;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}


.navbar {
  background: none;
  border-radius: 0;
  border: 0;
  padding: 20px 50px;
  text-transform: uppercase;
  color: #FFF !important;
  transition:
    background-color 0.5s ease,
    padding 0.5s ease;

  &.solid-nav {
    background-color: #2B3436;
    color: black;
    border-bottom: 3px solid white;
    padding: 5px 50px;
    transition:
      background-color 0.5s ease,
      padding 0.5s ease;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

@media (min-width: 768px) {
  .navbar-fixed-top {
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

.navbar-custom .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #FFF;
  margin-top: 0;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 20px;

  &:hover  {
    color: white !important;
  }
}

.collapse {
  margin-right: 25px;
}

.list-nav {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;


  li {
    display: inline;



    a {
      margin: 0 0 0 10px;
      font-size: 12px;
      color: white;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      position: relative;

      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
        margin-bottom: -5px;
      }

      &:hover:after {
        width: 100%;
        left: 0;
        margin-bottom: -5px;
      }
    }
  }
}

#intro {
  padding: 90px 0;
}

header {
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.3)), image_url('header.jpg');
    // background-attachment: fixed;
    background-position: center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 80vh;
}




.text-editor-wrap {
  display: block;
  margin: auto;
  max-width: 530px;
  border-radius: 10px;
  // box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
  clear: both;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.title-bar {
  padding: 5px 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 0.75em;
  text-align: center;
  background-color: #2B3436;
}

.text-body {
  height: 122px;
  background-color: rgba(0, 0, 0, 0.70);
  padding: 10px;
  color: #f0f0f0;
  text-shadow: #000 0px 1px 0px;
  font-family: "Consolas", "Courier New", "Courier";
  font-size: 1.75em;
  line-height: 1.40em;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.typed {
  position: relative;
  display: inline;
  top: 5px;
  color: white;
  left: 10px;
  font: {
    family: 'Courier New';
    size: 22px;
  }
  text: {
    shadow: rgba(0, 0, 0, 0.9) 0px 1px 5px;
  }
}



/*Add custom cursor so it auto inherits font styles*/
.typed::after {
  content: '|';
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
  display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}





header .intro-text {
    padding-bottom: 5vh;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    // text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 7vh;
        // padding-bottom: 8vh;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 24px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        // text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 64px;
        line-height: 75px;
        font-weight: lighter;
    }
}

@-webkit-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}

.scroll-btn {
  left: 0;
  right: 0;
}

.scroll-btn > * {
  display: inline-block;
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 46px;
  height: 82px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
  background-color: rgba(0, 0, 0, 0.3);
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 4px;
  left: 53%;
  bottom: 0;
  width: 6px;
  height: 10px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 10px;
  -webkit-animation: ani-mouse 1.5s linear infinite;
  -moz-animation: ani-mouse 1.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 120px 0;
    }
}

.service-link-contact {
  color: #E8B316;
  font-weight: bold;

  &:hover {
    color: #E8B316;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}


.img-portfolio img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.row-container-portfolio {
  display: flex;
  justify-content: center;
}

.img-portfolio {
  height:230px;
  width:100%;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #215E87;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}


.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 110px;
    height: 110px;
    margin-left: 0;
    // border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    // background-color: #875C74;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline-body img {
  padding-top: 10px;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

section#contact h3.section-subheading {
  color: white !important;
}

section#contact {
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.3)), image_url('contact.jpg');
    background-attachment: fixed;
    // background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 248px;
}

section#contact .form-control:focus {
    border-color: #1ee2e7;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}


// @import url(https://fonts.googleapis.com/css?family=Open+Sans:800,400);
// *, *:before, *:after {
//   margin:0;
//   padding:0;
//   box-sizing:border-box;
// }

.mail-btn {
  outline: 0 !important;
  position:relative;
  top:35%;
  display:inline-block;
  padding:0.5rem 1rem;
  border:3px solid rgb(255,196,24);
  background:none;
  outline:none;
  -webkit-appearance: none;
  font-size:2rem;
  color:rgba(255,255,255,1);
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:3px;
  text-indent:3px;
  cursor:pointer;
  transition:
    color 1s .5s,
    border 1s 1s;
  font-family: "Montserrat", sans-serif !important;
  margin-top: 75px;
  margin-bottom: -17px;
}
.mail-btn:before,
.mail-btn:after {
  content:'';
  position:absolute;
  opacity:0;
  backface-visibility:visible;
  transform-style:preserve-3d;
  perspective:400px;
  transform-origin:50% -50%;
  transform:rotateX(360deg) rotateY(0) translateX(-50%) translateY(0) scale(0.2);
  transition:all 0.9s;
}
.mail-btn:before {
  top:5px;
  left:50%;
  height:3rem;
  background:white;
  border-top:2rem solid #FFC418;
  border-right:3rem solid transparent;
  border-left:3rem solid transparent;
}
.mail-btn:after {
  top:0;
  left:50%;
  border-top:2rem solid white;
  border-right:3rem solid transparent;
  border-left:3rem solid transparent;
}
.mail-btn:hover {
  color:rgba(255,255,255,0);
  border:2px solid rgba(255,255,255,0);
  transition:
    color .25s,
    border .25s;
}
.mail-btn:hover:before,
.mail-btn:hover:after {
  opacity:1;
  transform:rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
}
.fly {
  color:rgba(255,255,255,0);
  border:2px solid rgba(255,255,255,0);
  animation:sended 4s 0.8s forwards;
}
@keyframes sended {
  0% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid #FFC418;
    border-left:10px solid #FFC418;
    opacity:1;
    transform:rotate(-45deg) translateX(300%) translateY(-500%);
  }
  5% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid #FFC418;
    border-left:10px solid #FFC418;
    opacity:1;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  78% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid #FFC418;
    border-left:10px solid #FFC418;
    opacity:0;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  79% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid #FFC418;
    border-left:10px solid #FFC418;
    opacity:0;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  80% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,0);
    border:3px solid rgb(255,196,24);
    opacity:0;
    transform:rotate(0) translateX(0) translateY(0);
  }
  100% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,1);
    border:3px solid rgb(255,196,24);
    opacity:1;
    transform:rotate(0) translateX(0) translateY(0);
  }
}
.fly:before,
.fly:after {animation:flyout 0.9s forwards;}
@keyframes flyout {
  0% {
    opacity:1;
    transform:rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
  }
  33% {
    opacity:0.66;
    transform:rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
  }
  100% {
    opacity:0;
    transform:rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
  }
}

#my-form-status {
  margin-top: 75px;
  color: white;
  font-size: 18px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}


footer {
    padding: 25px 0;
    text-align: center;
    background-color: #2B3436;
    border-top: 3px solid white;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
    color: white;
    font-size: 14px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform:     translateY(-20px);
    transform:         translateY(-20px)
  }
  60% {
    -webkit-transform: translateY(-10px);
    -ms-transform:     translateY(-10px);
    transform:         translateY(-10px)
  }
}


.hover-effect1 {
  // text-align: center;
  margin: 0 auto;
}

.hover-effect1 ul {
  margin-bottom: 0;
}

.hover-effect1 ul li {
  display: inline-block;
}



.hover-effect1 ul li a {
  font-size: 40px;
  color: #2B3436;
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;

  .i-footer {
    padding-top: 15px;
    padding-right: 36px;

    i {
      position: absolute;
    }
  }
}

.hover-effect1 ul li:hover a {
  border-radius: 50%;
  background: #fff;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  color: #2B3436;
}



.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #1ee2e7;
}

::selection {
    text-shadow: none;
    background: #1ee2e7;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #1ee2e7;
}
