<footer>
  <!-- Section Social Contact -->
  <div class="container-social">
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="hover-effect1">
          <ul>
            <li>
              <a href="https://github.com/florentgonon/" title="GitHub" target="_blank">
                <div class="i-footer">
                  <i class="fab fa-github"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container-copyright">
          <div class="copy">
              <span class="copyright">© Copyright 2020 Florent GONON. Tous droits réservés.<br>
              SIRET n° 880 134 424 00014</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="hover-effect1">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/florent-gonon/" title="LinkedIn" target="_blank">
                <div class="i-footer">
                  <i class="fab fa-linkedin"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
