<header>
      <nav class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-custom navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="../"><i class="fi-cnsuxl-home-small-solid"></i> florentgonon.com</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="list-nav">
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#skill">Compétences</a></li>
            <li><a href="#parcours">Parcours</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <section id="intro">
            <div class="intro-text">
              <!-- <div class="intro-lead-in">Bonjour</div> -->
              <div class="intro-heading">Florent <%= image_tag "logo.png", width: 130 %> Gonon</div>
              <div class="text-editor-wrap">
                <div class="title-bar"><span class="title">Terminal de florentgonon.com<span class="terminal-height"></span></span></div>
                <div class="text-body intro-lead-in"><span class="typed"></span></div>
              </div>
              <!-- <a href="#services" class="page-scroll btn btn-xl">BLABLABLA</a> -->
            </div>
            <span class="scroll-btn">
            <a href="#services">
              <!-- <div class="mouse-scroll">
                <div class="mouse"></div>
              </div> -->

              <span class="mouse">
                <span>
                </span>
              </span>
            </a>
          </span>
      </section>
    </header>
