.link-scroll {
  &:hover {
    color: transparent;
  }
}

.scroll-up {
  position: fixed;
  z-index: 999;
  bottom: 27px;
  right: 27px;

  a {
    background-color: none;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    color: transparent;
    font-size: 14px;
    line-height: 28px;
    transition:
      background-color 0.5s ease,
      color 0.5s ease,
      padding 0.5s ease;
  }

  &.solid-scroll {
    position: fixed;
    z-index: 999;
    bottom: 1.8em;
    right: 1.8em;

    a {
      background-color: #ffc418;
      display: block;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-size: 14px;
      line-height: 28px;
      transition:
        background-color 0.5s ease,
        color 0.5s ease,
        padding 0.5s ease;

      &:hover {
        color: white;
      }
    }
  }

  // &.solid-scroll1 {
  //   position: fixed;
  //   z-index: 999;
  //   bottom: 1.8em;
  //   right: 1.8em;

  //   a {
  //     background-color: #2B3436;
  //     display: block;
  //     width: 28px;
  //     height: 28px;
  //     border-radius: 50%;
  //     text-align: center;
  //     color: white;
  //     font-size: 14px;
  //     line-height: 28px;
  //     transition:
  //       background-color 0.5s ease,
  //       color 0.5s ease,
  //       padding 0.5s ease;

  //     &:hover {
  //       color: white;
  //     }
  //   }
  // }

  // &.solid-scroll2 {
  //   position: fixed;
  //   z-index: 999;
  //   bottom: 1.8em;
  //   right: 1.8em;

  //   a {
  //     background-color: white;
  //     display: block;
  //     width: 28px;
  //     height: 28px;
  //     border-radius: 50%;
  //     text-align: center;
  //     color: #2B3436;
  //     font-size: 14px;
  //     line-height: 28px;
  //     transition:
  //       background-color 0.5s ease,
  //       color 0.5s ease,
  //       padding 0.5s ease;

  //     &:hover {
  //       color: white;
  //     }
  //   }
  // }
}
