.software-container {
  display: flex;
  justify-content: space-around;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

.img-software {
  height: 88px;
}

.software {
  padding: 22px 5%;

  img {
  vertical-align: baseline;
  }
}
