#services {
  width: 100%;
}

#services-description {
  max-width: 960px;
  margin: 0 auto;
}

.services {
  width: 80%;
  margin: 0 auto;
}

.service-link-contact {
  color: #E8B316;
  font-weight: bold;

  &:hover {
    color: #E8B316;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.img-services {
  height: 90%;
}
