.software-container-1, .software-container-2 {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

.software-container-2 {
  max-width: 330px;
  margin: 0 auto;
  // text-align: center;
}

.img-software {
  height: 88px;
}

.software img {
  vertical-align: baseline;
}
