#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-portfolio {
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 120px;
  flex-wrap: wrap;
}

.container-portfolio2 {
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  margin: 0 auto;
}

.project {
  position: relative;
  margin-top: 50px;
  height: 240px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.project:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.img-project {
  border-radius: 5px;
  width: 95vw;
}

.title-project {
  position: absolute;
  width: 100%;
  top: 96px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  // text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.project:hover .title-project {
  top: 50px;
}

.button {
  position: absolute;
  width: 100%;
  top: 160px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button .link-project {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  z-index: 1;

  .link-project:hover {
    color: white;
  }
}

.project:hover .button {
  opacity: 1;
}
